body {
	color: green;
	background-color: orange;
	text-align: center;
	font-size: 1.2em;
}

h1 {
	text-decoration: underline;
}

#position {
	position: absolute;
	width: 10px;
	height: 10px;
	color: transparent;
	border: 3px solid blue;
}
